* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  color: aliceblue;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  font-family: Arial, sans-serif;
}

.game-container {
  text-align: center;
}

.score {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px); 
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
  width: 420px;
  height: 420px;
  background: #222;
  border: 2px solid #444;

}
